.navbar_left {
  display: block;
  position: absolute;
  width: 150px;
  height: calc(100vh - 60px);
  top: 30px;
  left: 30px;
  color:#FFF;
  transition: all 0.2s;
  overflow-y: auto;
  border: 5px solid #FFF;
  border-radius: 25px;
  opacity: 0.64;
  background-color: #111;
}

.navbar_left:hover {
  opacity: 1;
}

.section_right {
  display: block;
  position: absolute;
  width: calc(100vw - 530px);
  height: calc(100vh - 60px);
  top: 30px;
  right: 30px;
  color:#FFF;
  transition: all 0.2s;
  overflow-y: auto;
  border: 5px solid #FFF;
  border-radius: 25px;
  opacity: 0.64;
  background-color: #111;
}

.section_right:hover {
  opacity: 1;
}

.section_middle {
  display: block;
  position: absolute;
  width: 200px;
  height: calc(100vh - 280px);
  top: 250px;
  left: 236px;
  color:#FFF;
  transition: all 0.2s;
  overflow-y: auto;
  overflow-x: hidden;
  border: 5px solid #FFF;
  border-radius: 25px;
  opacity: 0.64;
  background-color: #111;
}

.section_middle:hover {
  opacity: 1;
}

.recommend {
  display: block;
  width: 170px;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.2s;
  border: 5px solid #666;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  color: #666;
  background-color: #999;
}

.recommend:hover {
  color: #000;
  border-color: #AAA;
  background-color: #FFF;
}

.recommend_img {
  display: block;
  width: 150px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #666;
  border-radius: 25px;
}

.section_ads {
  display: block;
  position: absolute;
  width: 150px;
  height: calc(100% - 48px);
  top: 25px;
  right: 0px;
  color:#FFF;
  transition: all 0.2s;
  overflow-y: auto;
  overflow-x: hidden;
  border: 5px solid #FFF;
}

.section_browse {
  display: block;
  position: absolute;
  width: calc(100% - 170px);
  height: calc(100% - 48px);
  top: 25px;
  color:#FFF;
  transition: all 0.2s;
  overflow-y: auto;
  overflow-x: hidden;
  border: 5px solid #FFF;
}

.for_sale_item {
  display: block;
  position: relative;
  float: left;
  width: calc(100vw / 10);
  height: calc(100% / 5);
  margin: 35px;
  border: 5px solid #666;
  border-radius: 25px;
  transition: all 0.2s;
  text-align: center;
  text-decoration: none;
  color: #666;
  background-color: #999;
}

.for_sale_item:hover {
  color:#000;
  background-color: #FFF;
  border: 5px solid #AAA;
}

.for_sale_img {
  display: block;
  height: 3vw;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #777;
  border-radius: 25px;
}

.ads {
  display: block;
  width: 120px;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  text-align: center;
  background-color: #FFF;
  color: #000;
  font-size: 18px;

}

h3 {
  font-size: calc(100vw / 80);
}

h1 {
  position: absolute;
  width: 100%;
  top: -26px;
  margin-top: 24px;
  text-align: center;
  background-color: #FFF;
  color: #000;
  font-size: 28px;
}

hr {
  border: 5px solid #AAA;
}

.navlink {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  color:#666;
  padding: 12px 12px;
  transition: all 0.2s;
  text-decoration:none;
  border: 5px solid #666;
  border-radius: 25px;
  background-color: #999;
}

.navlink:hover {
  color:#000;
  border: 5px solid #AAA;
  background-color: #FFF;
}

.searchbox {
  position: fixed;
  width: 200px;
  color: #FFFFFF;
  left: 234px;
  top: 200px;
  background-color:rgba(0,0,0,0);
  border-width: 5px;
  border-style: solid; 
  border-color: #FFFFFF;
  border-radius: 25px;
  opacity: 0.64;
}

.searchbox:hover {
  opacity: 1;
}

.logo {
  position: fixed;
  width: 200px;
  left: 236px;
  top: 40px;
  transition: all 0.2s;
  opacity: 0.64;
}

.logo:hover {
  opacity: 1;
}

html {
  background-color: black;
  background-image: url("bg.gif");
  background-repeat: repeat-y repeat-x;
}